# Vim swap files
*.swo
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

pyvenv.cfg

# Distribution / packaging
build/
dist/
*.egg-info/
bin/
include/
lib/
lib64
node_modules/
typings/

# Installer logs
npm-debug.log
pip-selfcheck.json
